<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />

</head>
<body>
<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li><a href="/" >Home</a></li>
        <li><a href="/raju" >Raju</a></li>
        <li><a href="/arun" >Arun</a></li>
        <li><a href="/rani" >Rani</a></li>
        <li><a href="/shiva">Shiva</a></li>
    </ul>
</nav>