<%- include partials/header.ejs %>

<div class=" panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Arun was born into a film family as the only son to actor Vijayakumar and his first wife Muthukannu.
        He studied at Don Bosco Maticulation Primary School, Egmore</p>
</div>

<%- include partials/footer.ejs %>