<%- include partials/header.ejs %>

<div class=" panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><%= title %></h1>
  </div>
  <p class="panel-body">Family Members.</p>
</div>

<%- include partials/footer.ejs %>