<%- include partials/header.ejs %>

<div class=" panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Raju is nephew of arun. He is working in subway.</p>
</div>

<%- include partials/footer.ejs %>