<%- include partials/header.ejs %>

<div class=" panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Shiva went to Padma Seshadri Bala Bhavan Senior Secondary School, Chennai. He graduated with a first class from Vivekananda College, Chennai and secured a master's degree in
        Commerce from Madurai Kamarajar University.</p>
</div>

<%- include partials/footer.ejs %>